// Remove the underscore (_) from this filename in order to include it in the build
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

.multiselect {
  .label-primary {
    margin-right: rem(4);
  }
  .upload-btn-delete {
    margin-right: rem(-2);
    // bottom: 0;
    margin-top: rem(-2.5);
    // position: absolute;
    // right: rem(0);
    // top: 50%;
  }
}
